{% extends "frame.j2" %}
{% import "partial.j2" as partial %}

{% block title %}track{% endblock %}

{% block content %}
<!-- nav -->
<div class="row">{{ partial.nav("track") }}</div>
<!-- track_ip -->
<br/>
<div class="row">
    <form action="track/edit" method="post">
        <div class="form group">
            <label for="url">Track Interface URL</label>
            <input id="url" class="form-control" type="text" name="url" value="{{ track.url }}"/>
        </div>
        <div class="form group">
            <label for="interval">Track Auto Check Interval</label>
            <input id="interval" class="form-control" type="text" name="interval" value="{{ track.interval }}"/>
        </div>
        <br/>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
<!-- connection -->
<br/>
<div class="row">
    <span>Track-Host Connection Status : </span>
    <span id="status"></span>
</div>
<!-- AJAX get connection status -->
<script>
$(document).ready(function()
{
    function check()
    {
        $.get("track/active", function(data,status)
        {
            if (JSON.parse(data) == true)
            {
                $('#status').attr('class', 'label label-success').text('Connected');
            }
            else
            {
                $('#status').attr('class', 'label label-danger').text('Unconnected');
            }
        });

        setTimeout(check, {{ track.interval }});
    }

    check();
});
</script>
{% endblock %}