<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
    <title>{% block title %}default title{% endblock %}</title>
    <!-- tools -->
    <script src="/jquery.js"></script>
    <script src="/d3.min.js"></script> 
    <script src="/socket.io/socket.io.js"></script>
    <!-- our-js-files -->
    <script src="/extra.js"></script>
    <script src="/painter.js"></script>
    <script src="/host.js"></script>
    <script src="/init.js"></script>
    
    <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script type="text/javascript">

    </script>

</head>
<body>
    <nav id="menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container"> 
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" style="float: left;" href="#">Cabee-track</a> </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home" class="page-scroll">Home</a></li>
                    <li><a href="#about-section" class="page-scroll">About</a></li>
                    <li><a href="#contact-section" class="page-scroll">Animation</a></li>
                    <li><a href="#features-section" class="page-scroll">Features</a></li>
                    <li><a href="#team-section" class="page-scroll">Team</a></li>
                </ul>
            </div>
        <!-- /.navbar-collapse --> 
        </div>
      <!-- /.container-fluid --> 
    </nav>        

    <!-- Header -->
    <header class="text-center" name="home">
        <div class="intro-text">
            <h1>It is our <span class="color">Track</span></h1>
            <p>A mobile CDN platform</p>
            <div class="clearfix"></div>
            <a href="#about-section" class="btn btn-default btn-lg page-scroll">Learn More</a> 
        </div>
    </header>
    <!-- About Section -->
    <div id="about-section">
        <div class="container">
            <div class="section-title">
                <h2>About Cabee</h2>
                <hr>
            </div>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-4">
                    <h4>What is Server</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh ante facilisis bibendum.</p>
                </div>
                <div class="col-md-4">
                    <h4>What is BGW</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh ante facilisis bibendum.</p>
                </div>
                <div class="col-md-4">
                    <h4>What is MEC</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh ante facilisis bibendum.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Animation Display -->
    <div id="contact-section">
        <div class="container-fluid">
            <div class="section-title center">
                <h2>Animation</h2>
                <hr>
                <div style="height: 10px;"></div>
                <button type="button" class="btn btn-warning">自动播放</button>
                <button type="button" id="showTable" class="btn btn-info showTable">收起缓存信息</button>
                <button type="button" 
                        class="btn btn-info showTable"
                        data-toggle="modal"
                        data-target="#myModal">
                        展开log信息
                </button>
                <span class="improve">节省带宽 &nbsp;<i id="bandwidth">24M</i>&nbsp;&nbsp;&nbsp;节省时延 &nbsp;<i id="timeReduce">3s</i></span>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Ours(left) &nbsp;&nbsp;&nbsp;&nbsp; and&nbsp;&nbsp;&nbsp;&nbsp; Mcdn(right) logs
                                </h4>
                            </div>
                            <div class="modal-body" style="height:465px;">
                                <div id="logs1" class="logs col-md-6" data-spy="scroll" data-target="#navbar-example" data-offset="0" 
                                     style="height:450px;overflow:auto; position: relative;">
                                    <h4>Ours</h4>
                                    
                                </div>
                                <div id="logs2" class="logs col-md-6" data-spy="scroll" data-target="#navbar-example" data-offset="0" 
                                     style="height:450px;overflow:auto; position: relative;">
                                    <h4 id="ios">Mcdn</h4>
                                    
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                </button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </div>
            
            <div class="left col-md-6 col-sm-12">
                <h2 class="project">-- Ours</h2>
                
                <div id="my-progress-bar-left">
                   
                </div>
                <svg id="group1"></svg>
                
                <div id="logs1Copy" class="logs" data-spy="scroll" data-target="#navbar-example" data-offset="0" 
                     style="height:200px;overflow:auto; position: relative;">
                    <h4 id="ios">Ours 日志</h4>
                </div>
                <table class="table table-bordered" id="table1">
                    <thead>
                        <tr class="info">
                            <th>Node</th>
                            <th>IP</th>
                            <th>Port</th>
                            <th>Videos Cached</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

            <div class="right col-md-6 col-sm-12">
                <h2 class="project">-- MCdn</h2>
                
                <div id="my-progress-bar-right">
                   
                </div>
                <svg id="group2"></svg>
                <div id="logs2Copy" class="logs" data-spy="scroll" data-target="#navbar-example" data-offset="0" 
                     style="height:200px;overflow:auto; position: relative;">
                    <h4>Mcdn 日志</h4>
                    
                </div>
                <table class="table table-bordered" id="table2">
                    <thead>
                        <tr class="info">
                            <th>Node</th>
                            <th>IP</th>
                            <th>Port</th>
                            <th>Videos Cached</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- features Section -->
    <div id="features-section">
        <div class="container">
            <div class="section-title">
                <h2>Features</h2>
                <hr>
            </div>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-3 col-sm-6 service"> <i class="fa fa-desktop"></i>
                    <h4>Push</h4>
                    <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
                </div>
                <div class="col-md-3 col-sm-6 service"> <i class="fa fa-gears"></i>
                    <h4>Pull</h4>
                    <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque.</p>
                </div>
                <div class="col-md-3 col-sm-6 service"> <i class="fa fa-pie-chart"></i>
                    <h4>路由算法</h4>
                    <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
                </div>
                <div class="col-md-3 col-sm-6 service"> <i class="fa fa-line-chart"></i>
                    <h4>负载均衡</h4>
                    <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque.</p>
                </div>
            </div>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-3 col-sm-6 service"> <i class="fa fa-shopping-cart"></i>
                    <h4>video</h4>
                    <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
                </div>
                <div class="col-md-3 col-sm-6 service"> <i class="fa fa-file-text-o"></i>
                    <h4>Content Development</h4>
                    <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Team Section -->
    <div id="team-section">
        <div class="container">
        <div class="section-title">
            <h2>Meet the Team</h2>
            <hr>
        </div>
        </div>
    </div>
    
    <div id="footer">
        <div class="container">
            <p>Copyright &copy; 2016 FNL-BUPT. Designed by <a href="https://github.com/mrsuyi" rel="nofollow">Mrsuyi</a> and <a href="https://github.com/iwtofly" rel="nofollow">iwtofly</a></p>
        </div>
    </div>
    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="bootstrap/bootstrap.min.js"></script> 
    <script type="text/javascript" src="js/SmoothScroll.js"></script> 
    <!-- Javascripts
    ================================================== --> 
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript">
      
    $(document).ready(() =>
    {
        // $("#showTable").click(function(){
        //     $("#table1").slideToggle();
        //     var text =  $("#showTable").html();
            
        //     if (text="显示缓存信息") {
        //         $("#showTable").html("收起缓存信息"); 
        //     } 
        //     else if (text="收起缓存信息")  {
        //         $("#showTable").html("显示缓存信息"); 
        //     }
        // });
        
        let client = io('/user');

        client.on('connect', () =>
        {
            console.log('ok, connect to /user');

            client.on('progress', (data) => {
                console.log(data);
            })
        });
        
        client.on('disconnect', () => console.log('oh no, disconnect to /user'));

        setInterval(() => {
            $('.improve i').addClass('flashing');
            $('.improve').addClass('improve-border');
            setTimeout( ()=> {
                $('.improve i').removeClass('flashing');
                $('.improve').removeClass('improve-border');
            }, 1000)
        },
        2000)
        

    });

    </script>
</body>
</html>