{% extends "frame.j2" %}

{% block title %}front{% endblock %}

{% block content %}
<div>
    <!-- modal -->
    <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-label">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="modal-label" class="modal-title"></h4>
                </div>
                <div id="modal-body" class="modal-body"></div>
            </div>
        </div>
    </div>
    <!-- table -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>File</th>
                <th>Direct Fetch Times</th>
                <th>Cache Hit Times</th>
                <th>Time(ms)</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <!-- modal -->
                <td><button class="btn btn-default" type="button" data-file="{{ file.name }}">{{ file.name }}</button></td>
                <td>{{ file.cnts() }}</td>
                <td>{{ file.hits }}</td>
                <td>Not loaded</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
$(document).ready(function()
{
    $(document).on('click', 'button[data-file]', function()
    {
        var td          = $(this).parent().next();
        var modal       = $('#modal');
        var modal_label = $('#modal-label');
        var modal_body  = $('#modal-body');
        
        var url  = $(this).attr('data-file');
        var time = (new Date()).getTime();
        td.text('loading');

        switch (url.substr(url.lastIndexOf('.') + 1))
        {
            case 'jpg':
                var img = new $('<img/>', {'class' : 'img-responsive'});
                img.on('load', function()
                {
                    if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0)
                    {
                        td.text('load img failed');
                    }
                    else
                    {
                        time = (new Date()).getTime() - time;

                        td.text(time);
                        modal_label.text('Loading Time : ' + time + ' ms');
                        modal_body.html(img);
                        modal.modal('show');
                    }
                });
                img.attr('src', url);
                break;

            case 'mp4':
                break;

            default:
                td.text('unsupported file-type');
        }
    });
})
</script>
{% endblock %}