{% extends "frame.j2" %}
{% import "partial.j2" as partial %}

{% block title %}Upload videos{% endblock %}

{% block content %}
<!-- nav -->
<div class="row">{{ partial.nav("Upload") }}</div>
<br/>

<form action="/video/upload" method="post" enctype="multipart/form-data">
	<div class="form-group">
        Video-Name：<input style="margin-bottom: 10px;" type="text" name="name" value="shit"><br/>
        upload Video-Pieces：
        <input type="file" class="form-control" name="videos" multiple><br/>
        <button class="btn btn-primary" type="submit">Submit</button>

		<br/><br/>
    </div>
</form>
{% endblock %}