<!DOCTYPE html>
<html>
    <script type="text/javascript" src="/jquery.js"></script>
<body>
    <form action="video/upload" method="post" enctype="multipart/form-data">
        <input type="text" name="name" value="shit">
        <input type="file" name="videos" multiple>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</body>
</html>