{% extends "frame.j2" %}
{% import "partial.j2" as partial %}

{% block title %}media{% endblock %}

{% block content %}
<!-- nav -->
<div class="row">{{ partial.nav("media") }}</div>
<!-- files -->
</br>
<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>File</th>
                <th>Del</th>
            </tr>
        </thead>
        <tbody>
            {% set i = 1 %}
            {% for file in files %}
            <tr>
                <!-- modal -->
                <div class="modal fade" id="modal{{ i }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">{{ file.name }}</h4>
                            </div>
                            <div class="modal-body">
                                {% if file.extname == '.jpg' %}
                                <img class="img-responsive" src="{{ file.name }}"/>
                                {% elif file.extname == '.mp4' %}
                                <video width="600" height="400">
                                    <source src="{{ file.name }}" type="video/mp4">
                                </video>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <td><button class="btn btn-default" type="button" data-toggle="modal" data-target="#modal{{ i }}">{{ file.name }}</button></td>
                <td><a class="btn btn-danger" href="media/delete/{{ file.name }}">Del</a></td>
            </tr>
            {% set i = i + 1 %}
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- clear -->
<br/>
<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <a class="btn btn-danger btn-block" href="media/clear">Clear</a>
    </div>
</div>
<!-- upload -->
<br/>
<div class="row">
    <form action="media/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="upload">File Upload</label>
            <input id="upload" class="form-control" type="file" name="file" accept=".jpg,.mp4" multiple/>
            <br/>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}