<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.min.css">
    <style type="text/css">
        #wrap{
            width: 75%;
            margin: 20px auto;
        }
    </style>
</head>
<body>
<div id="wrap">
    <h2>Videos of Server</h2>
    <table class="table table-bordered">
        <thead>
            <tr class="info">
                <th>VideoName</th>
                <th>Delete-Folder</th>
                <th>Video-Piece</th>
                <th>Action</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for video, pieces in list %}
            {% for i in range(0,pieces.length) %}
            <tr>
                {% if i==0 %}
                <td rowspan="{{pieces.length}}" >
                    <span href="/push/{{ video }}/" target="_blank">{{ video }} </span>
                </td>
                <td rowspan="{{pieces.length}}">
                    <button id="delete" class="btn btn-danger" data-url="/video/delete/{{video}}" >Del</button>
                </td>
                <td>
                    <span >{{ pieces[i] }}</span>
                </td>
                <td>
                    <button id="push" class="btn btn-primary" data-url="/push/{{video}}/{{pieces[i]}}" >Push</button>
                </td>
                <td>
                    <button id="delete" class="btn btn-danger" data-url="/video/delete/{{video}}/{{pieces[i]}}" >Del</button>
                </td>
                {% else %}
                <td>
                    <span>{{ pieces[i] }}</span>
                </td>
                <td>
                    <button id="push" class="btn btn-primary" data-url="/push/{{video}}/{{pieces[i]}}" >Push</button>
                </td>
                <td>
                    <button id="delete" class="btn btn-danger" data-url="/video/delete/{{video}}/{{pieces[i]}}" >Del</button>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    <br/><br/>
    <a href="/video/upload">去给Server上传些视频>></a>
</div>
<script>
$(document).ready(function()
{
    $('button').click( function(){
        var that = this;
        var url = $(this).data('url');

        if($(this).attr("id")=="push"){

            $(this).html("Pushing");

            $.get( url, function(){
                $(that).removeClass("btn-primary")
                       .addClass("btn-success")
                       .html("pushed");
            });

        }else{
            console.log("delete "+url);
            $.get( url, function(){
                // $(that).parent().parent().remove();
                location.reload(true) ;
            } )
        }

    });
});
</script>
</body>
</html>