{% extends "frame.j2" %}

{% block title %}track{% endblock %}

{% import "partial.j2" as partial %}

{% block content %}
<!-- nav -->
<div class="row">{{ partial.nav("track") }}</div>
<!-- track_ip -->
<br/>
<div class="row">
    <form action="track/edit" method="post">
        <div class="form group">
            <label for="addr">Track IP Address</label>
            <input id="addr" class="form-control" type="text" name="addr" value="{{ addr }}" pattern="^((2[0-4]\d|25[0-5]|[1-9]?\d|1\d{2})\.){3}(2[0-4]\d|25[0-5]|[01]?\d\d?)$" required/>
        </div>
        <div>
            <label for="interval">Track Auto Report Interval</label>
            <input id="interval" class="form-control" type="text" name="interval" value="{{ interval }}" pattern="^\d{1,5}$" required/>
        </div>
        <br/>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
<!-- connection -->
<br/>
<div class="row">
    <span>Track-Host Connection Status : </span>
    <span>No Connection</span>
</div>
{% endblock %}