{% extends "frame.j2" %}

{% block title %}cache{% endblock %}

{% import "partial.j2" as partial %}

{% block content %}
<!-- nav -->
<div class="row">{{ partial.nav("cache") }}</div>
<!-- files -->
</br>
<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>File</th>
                <th>Del</th>
            </tr>
        </thead>
        <tbody>
            {% set i = 1 %}
            {% for name, url in list %}
            <tr>
                <!-- modal -->
                <div class="modal fade" id="modal{{ i }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">{{ name }}</h4>
                            </div>
                            <div class="modal-body">
                                {% if name.search('.jpg') != -1 %}
                                <img class="img-responsive" src="{{ url }}"/>
                                {% elif name.search('.mp4') != -1 %}
                                <video width="600" height="400">
                                    <source src="{{ url }}" type="video/mp4">
                                </video>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <td><button class="btn btn-default" type="button" data-toggle="modal" data-target="#modal{{ i }}">{{ name }}</button></td>
                <td><a class="btn btn-danger" href="cache/delete/{{ url }}">Del</a></td>
            </tr>
            {% set i = i + 1 %}
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- clear -->
<br/>
<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <a class="btn btn-danger btn-block" href="cache/clear">Clear</a>
    </div>
</div>
{% endblock %}