{% extends "frame.j2" %}

{% block title %}fetch{% endblock %}

{% import "partial.j2" as partial %}

{% block content %}
<!-- nav -->
<div class="row">{{ partial.nav("fetch") }}</div>
<!-- history -->
<br/>
<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>File Name</th>
                <th>Requested Times</th>
            </tr>
        </thead>
        <tbody>
            {% for file, times in list %}
            <tr>
                <td>{{ file }}</td>
                <td>{{ times }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- clear -->
<br/>
<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <a class="btn btn-danger btn-block" href="fetch/clear">Clear</a>
    </div>
</div>
{% endblock %}