<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
    <title>{% block title %}default title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.min.css">
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="bootstrap/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>Cabee-proxy</h1>
        </header>
        <div>{% block content %}default content{% endblock %}</div>
        <footer>
            <h4>© 2016 FNL-BUPT</h4>
            <h5>made by Mrsuyi</h5>
        </footer>
    </div>
</body>
</html>