{% macro nav(val) %}
<ul class="nav nav-tabs">
    <li {% if val == "track" %}class="active"{% endif %}><a href="/track">Track</a></li>
    <li {% if val == "cache" %}class="active"{% endif %}><a href="/cache">Cache</a></li>
    <li {% if val == "proxy" %}class="active"{% endif %}><a href="/proxy">Proxy</a></li>
    <li {% if val == "pull" %}class="active"{% endif %}><a href="/pull">Pull</a></li>
</ul>
{% endmacro %}