{% extends "frame.j2" %}
{% import "partial.j2" as partial %}

{% block title %}pull{% endblock %}

{% block content %}
<!-- nav -->
<div class="row">{{ partial.nav("pull") }}</div>
<!-- server-info -->
<br/>
<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>File Name</th>
                <th>Cache Status</th>
            </tr>
        </thead>
        <tbody>
            {% for file, cached in files %}
            <tr>
                <td>{{ file }}</td>
                <td>
                    {% if cached == true %}
                    Cached
                    {% else %}
                    <a class="btn btn-success" href="{{ cached }}">Pull</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- init tab -->
<script>
$(document).ready(function()
{
    $('#tabs a').click(function (e)
    {
        e.preventDefault();
        $(this).tab('show');
    });

    $('#tabs a:first').tab('show');
});
</script>
{% endblock %}